[Unit]
Description=Walabot Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u WalabotOSC.py
WorkingDirectory=/home/pi/root_cathedral/walabot
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target